/*This version of Minesweeper game was made exactly by tutorial of Ania Kubów from youtube*/
:root {
  --grid-background: hsl(140, 24%, 90%);
  --grid-bordertop: hsl(140 24% 88% / 1);
  --grid-borderleft: hsl(140 24% 85% / 1);
  --grid-borderdown: hsl(140 24% 77% / 1);
  --clight: #e0ece4;
  --caccent: #f7f2e7;
  --csecond: #d8d3cd;
  --cseconddark: hsl(33, 13%, 77%);
  --cdark: #797a7e;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #797a7e;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23a7babb'/%3E%3Cstop offset='1' stop-color='%23a7babb' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c8a2bf'/%3E%3Cstop offset='1' stop-color='%23c8a2bf' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23eaf2e3'/%3E%3Cstop offset='1' stop-color='%23eaf2e3' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23797a7e'/%3E%3Cstop offset='1' stop-color='%23797a7e' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e0ece4'/%3E%3Cstop offset='1' stop-color='%23e0ece4' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f7f2e7'/%3E%3Cstop offset='1' stop-color='%23f7f2e7' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

div.cell {
  width: 28px;
  height: 28px;
  border: var(--grid-borderdown) solid 6px;
  border-left: var(--grid-borderleft) solid 6px;
  border-top: var(--grid-bordertop) solid 6px;
}

div.checked {
  width: 34px;
  height: 34px;
  border: var(--grid-borderleft) solid 3px;
  background-color: var(--grid-borderdown);
  font-size: x-large;
}

.checked.bomb {
  border: var(--csecond) solid 3px;
  background-color: var(--cseconddark);
}

div.grid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--grid-background);
  color: var(--cdark);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  filter: drop-shadow(2px 4px 6px var(--clight));
}

#info {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: var(--caccent);
}

#status {
  text-align: center;
  font-size: xx-large;
  color: var(--clight);
  visibility: hidden;
}
